<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Of Coolies</title>
//styling the table
    <style>
        table,
        th,
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
//table to show deatils of user
    <table>
//table header
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Badge_Number</th>
            <th>Contact Number</th>
            <th>Number of Trips</th>
            <th>Location</th>
        </tr>
//loop to iterate through user data and display in data table
        <% for(user of data) { %> 
        <tr>
            //display user name 
            <td><img src="<%= user.image %>" alt="heya" height="180px" width="180px"></td>
            //display user name
            <td><p align="center"><%= user.name %></p></td>
            //display user rating
            <td><p align="center"><%= user.rating %></p></td>
            //display user badge number
            <td><p align="center"><%= user.badge_Number %></p></td>
            //display user phone number
            <td><p align="center"><%= user.phone %></p></td>
            //display no. of trips done by user
            <td><p align="center"><%= user.noOfTrips %></p></td>
            //display location of user
            <td><p align="center"><%= user.location %></p></td>
    </tr>       
    <%} %>
    </table>
</body>
</html>
